@import "../../../../resource/style/color";
.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgb(235, 236, 236);
}

.iconButton {
    border: 0px;
    margin: 0 10px 0 0;
}

.detail {
    background-color: @graywhite;
    box-sizing: border-box;
}

.test {
    -webkit-box-flex: 0;
    width: 20%;
    flex: 0 0 20%;
    display: inline-block;
}